log_level: DEBUG
log_color: False

gluster:
    smb_share_options:
        group: "metadata-cache"
        cache-samba-metadata: "on"

servers:
{% for host in groups['gluster_nodes'][1:7] %}
    - {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}
{%  endfor %}

clients:
{% for host in groups['gluster_nodes'][7:9] %}
    - {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}
{%  endfor %}

servers_info:
{% for host in groups['gluster_nodes'][1:7] %}
    {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}: &server{{ loop.index }}
        host: {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}
        devices: ["/dev/mapper/group0-vol0", "/dev/mapper/group1-vol1", "/dev/mapper/group2-vol2", "/dev/mapper/group3-vol3"]
        brick_root: "/mnt"
{%  endfor %}

clients_info:
{% for host in groups['gluster_nodes'][7:9] %}
    {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}: &client{{ loop.index }}
        host: {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}
{%  endfor %}
